.App {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Optional: Add overflow to help in debugging */
  overflow: visible;
}

.body {
  margin: 0;
  padding: 0;
  /* Optional: Add overflow to help in debugging */
  overflow: visible;
}
